h1 {
    font-family: 'Roboto', sans-serif;
}

table {
    margin: 30px; 
    border: 2px solid #0409a6;

}

thead {
    color: white;
    background-color: #0409a6;
}

table th, table td {
    padding: 15px;
}

button {
    background-color: #F7C9E5;
    border: 1px solid #0409a6;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    margin: 10px;
    padding: 10px;    
}