body {
    background-color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #0409a6;
}

h1 {
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 100px;
    color: #0409a6;
}

#product-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.product-card {
    border: 1px solid #0409a6; 
    margin: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: #FFF2FA;
    opacity: 0.8;
    width: 250px;
}

.product-card:hover{
    border: 3px solid #0409a6; 
    opacity: 1; 
}

h3 {
    font-weight: bold;
    font-size:x-large;
}

.product-card img {
    height: 270px;
    object-fit: cover; 
}

.author {
    font-weight: 600;
    margin: 10px;
}

.publisher {
    margin: 1px;
    font-style: oblique;
    font-size: smaller;
}

.price {
    margin: 5px;
    font-size: smaller;
}

.add-button {
    background-color: #F7C9E5;
    border: 1px solid white;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    margin: 10px;
    padding: 10px;
}

.add-button:hover{
    cursor: pointer;
}

#cart-button{
    background-color: #0409a6;
    margin: 35px;
    padding: 10px;
}

a {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}