body {
    background-color: white;
    text-align: center;
}

#product-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product-card {
    border: 1px solid black; 
    margin: 5px;
    align-items: center;
}
.product-card img {
    width: 100%;
}

